/NeedBasements/obj/*.*
/NeedBasements/obj/Debug/netstandard2.1/*.*
/NeedBasements/obj/Debug/netstandard2.1/references
/NeedBasements/bin
/.vs
/output.lnk
/NeedBasements/NeedBasements.csproj
/.vs
/.claude
/NeedBasements/.claude